/node_modules
/public/hot
/public/storage
/public/assets
/public/assets-admin
/public/img
/public/images
/public/gallery
/public/upload-posts
/public/uploads/*
!/public/uploads/products/
/public/uploads/products/*
!/public/uploads/products/no-image.jpg
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/debugbar
/vendor
/build
/dist
/.idea
/.vscode
/.vagrant
/storage/framework/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
output.png
.phpunit.result.cache
/.phpunit.cache
