/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/debugbar
/vendor
/build
/dist
/.idea
/.vscode
/.vagrant
/storage/framework/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
output.png
.phpunit.result.cache
/.phpunit.cache
