.alert{
    border: none;
    background: none;
    border-radius: 0;
}
.alert-success{
    color: #bfd630;
}
.alert-danger{
    background: none;
    border: none;
}
.ff_tags p > a:hover {
    color: #bfd630;
}

.reply-from{
    display: none;
}